@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --primary-color: #202020; /* Dark gray for the background */
  --secondary-color: #30A399; /* Soft teal for headers and footers */
  --accent-color: #6ED3CF; /* Light blue green for accents */
  --text-color: #333; /* White for text */
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: #f2f2f2; /* Light gray background */
  color: #000000; /* Black text */
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  font: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
  color: #ffffff; 
}

.search::placeholder{
  color: #7378c5;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  animation: fade-in 0.5s; 
}

.movie img {
  width: 100%;
  height: auto;
  transition: transform 0.3s; 
}

.movie:hover img {
  transform: scale(1.05); 
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3{
  margin-top: 0;
}

.movie-info span{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green{
  color: lightgreen;

}

.movie-info span.orange{
  color: orange;
  
}

.movie-info span.reed{
  color: red;
}

.overview{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  color: var(--text-color);
  z-index: 10;
}

.movie:hover .overview{
  transform: translateY(0);
}

.logo {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

nav li {
  padding: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; 
}

nav a:hover {
  color: var(--secondary-color);
  transition: color 0.3s; 
}

.search-wrapper {
  margin-left: auto;
}

.hero {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 1rem;
  text-align: center;
  color: black;
}

#form {
  max-width: 300px; 
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  /* Responsive styles */
  header {
    flex-direction: column;
    align-items: flex-start; 
  }

  .search-wrapper {
    width: 100%; /* Full width */
    margin-top: 1rem; 
  }

  .search {
    width: calc(100% - 2rem); /* Full width minus padding */
    margin: 0 auto; /* Center the search bar */
  }

  nav ul {
    width: 100%; /* Full width */
    flex-direction: column;
  }

  nav li {
    width: 100%; /* Full width */
  }

  nav a {
    display: block; /* Make the anchor fill the list item */
    padding: 0.5rem; /* Adjust padding */
  }
}

#trending, #upcoming, #nowplaying {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-direction: column;*/
}


#trending h2, #upcoming h2, #nowplaying h2 {
  color: #ffffff; 
  font-size: 2em; 
  text-align: center; 
  margin-bottom: 1em; 
}

section h2 {
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  margin: 1rem 0;
}
h2 {
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-direction: column;*/
}
.genre-select-container {
  margin: 1rem;
  padding: 0.5rem;
}

#genreSelect {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--text-color);
  cursor: pointer;
}

#genreSelect {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;         
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.5em auto, 100%;
}